body{
    font-weight: 450;
    margin: 0;
	padding: 0;
	border: 0;
	outline: 0;                                
    background-size: 100%;
    background: -webkit-linear-gradient(90deg, #480bf0,#7759f9,#a08ffd);background: linear-gradient(90deg, #480bf0,#7759f9,#a08ffd);
    font-family: "Roboto", sans-serif;
    font-style: normal;
   
   
}
.nav-link{
    color: white !important;
}
header{
    margin-top: 0;
    font-size: 28px;
    color: white;
   
}
.content{
    width: 80vw;
    margin: auto;
   
}
a{
    color: white !important;
}
.btn-dark:hover {
    background-color: #0056b3 !important ; /* Цвет при наведении (пример) */
    color: white; /* Цвет текста при наведении */
}
a:hover {
    background-color: #0056b3 !important ; /* Цвет при наведении (пример) */
    color: white; /* Цвет текста при наведении */
}

footer {
    background-color: #343a40; /* Цвет фона */
    color: white; /* Цвет текста */
}

footer a {
    color: white; /* Цвет ссылок */
    text-decoration: none; /* Убираем подчеркивание */
}

footer a:hover {
    text-decoration: underline; /* Добавляем подчеркивание при наведении */
}

footer h5 {
    font-weight: 500; /* Толщина заголовка */
}

footer p, footer ul {
    font-weight: 300; /* Легкий вес текста */
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 200px;
    object-fit: cover; /* Позволяет изображениям сохранять пропорции */
}

.card {
    border: none; /* Убираем стандартные границы карточек */
    border-radius: 10px; /* Закругляем края */
    background-color: #f8f9fa; /* Светлый фон для карточек */
}

.card-title {
    font-weight: 500;
}

.card-text {
    font-weight: 300;
}

.card-body {
    padding: 20px; /* Просторное оформление внутри карточки */
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.075); /* Легкая тень для карточек */
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}


.container {
    border-radius: 10px;
    padding: 10px;
    
}

.form-group .form-control {
    border-radius: 5px;
}

.btn {
    width: 100%;
    background-color: #007bff;
    color: white;
}

.btn:hover {
    background-color: #0056b3;
}
.contact-icon {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 60px;
    height: 60px;
    background-color: #007bff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    animation: pulse 2s infinite;
}

/* Импульс */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* Окно контактов */
.contact-modal {
    position: fixed;
    right: 20px;
    bottom: 100px;
    background-color: #fff;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    display: none;
    z-index: 1001;
}

.contact-modal a {
    text-decoration: none;
    color: #007bff;
    margin-bottom: 10px;
    display: block;
}


.contact-modal a:hover {
    color: #0056b3;
}

.contact-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-modal-header h5 {
    margin: 0;
}

.contact-modal .close-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.back-to-top {
    position: fixed;
    right: 20px;
    bottom: 90px;
    width: 60px;
    height: 60px;
    background-color: #c45cf5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;
    display: none; /* По умолчанию скрыто */
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    animation: pulse 2s infinite;
}

.quiz-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

}

.quiz-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.quiz-container button {
    margin-top: 20px;
    display: block;
    width: 100%;
}
